<h1>Your answer</h1>

<p><strong>Your question:</strong> <%= @question%></p>

<p><strong>The coach's answer:</strong> <%= @answer%></p>

<button type="button" class="btn btn-outline-info" style="text-decoration: none">
<%= link_to "Ask a new question", ask_path %>
</button>
