<h1>Your question</h1>

<form action="/answer" method="get" class="row g-3">
<%# possible error in name -> write answer according to specs? %>
  <div class="col">
  <input type="text" name="question" placeholder="Ask any question!" class="form-control">
  </div>
  <div class="col">
  <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
</form>
